@use '../styles/partials/variables' as *;
@use '../styles/partials/global' as *;
@use '../styles/mixins' as*;

// header
.header{
    &__logo--image{
        position:absolute;
        width:15%;
        height:10%;
        left:0%;
        box-shadow:2px 2px 4px black;

        @include tablet{
            width:15%;
            height:15%;
            left:8%;
            }
        }
        @include desktop{
        &__logo--image{
            left:4.8%;
        }
        }
}

// Hero Section
.hero{
    &__image{
    width:100vw;
    height:100vh;
    }
    @include tablet{
        width:100vw;
        height:100vh;
        background-color:#fff0f5;
        &__image{
        height:100vh;
        width:95vw;
        padding-left:60px;
        }       
    }
    @include desktop{
        height:80vh
    }

}

// Form Section
.form{
    position:absolute;
    top:60%;
    left:35%;
    &__date{
    font-size:1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:grey;
    }
    &__btn{
        background-color:#deb887;
        position:absolute;
        top:150%;
        right:50%;
        transform: translateX(50%);
        display: inline-block;
            padding: 0.5em 3em;
            border: 0.16em solid #FFFFFF;
            margin: 0 0.3em 0.3em 0;
            box-sizing: border-box;
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            color: #FFFFFF;
            text-align: center;
            transition: all 0.15s;
    }
    @include tablet{
    left:45%;
    }
    @include desktop{
        top:78%;
        left:42%;
        &__date{
font-size:3rem;
        }
        &__btn{
            padding: 1em 5em;
        }
    }
}

button.form__btn--ron {
   padding: 0.4em 3.4em;
}
button.form__btn--insp{
  padding:0.9em 2em;
}



// SUBPAGE STYLING
.hero__second--page {
    height: 100vh;
    width: 100vw;
}



